In [23]:
#import
import pandas as pd

In [24]:
#read
CPBL_data = pd.read_excel("CPBL_batter.xlsx")
MLB_data = pd.read_excel("MLB_batter.xlsx")

In [25]:
#first view
CPBL_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   球員      163 non-null    object
 1   隊伍      163 non-null    object
 2   背號      163 non-null    int64
 3   PA      163 non-null    int64
 4   AVG     163 non-null    float64
 5   OBP     163 non-null    float64
 6   SLG     163 non-null    float64
 7   ISO     163 non-null    float64
 8   BABIP   161 non-null    float64
 9   BIP%    163 non-null    float64
 10  OPS     163 non-null    float64
 11  OPS+    163 non-null    float64
 12  tOPS+   163 non-null    float64
 13  RC      163 non-null    float64
 14  wOBA    163 non-null    float64
 15  BB%     163 non-null    float64
 16  BB/K    160 non-null    float64
 17  K%      163 non-null    float64
dtypes: float64(14), int64(2), object(2)
memory usage: 23.1+ KB

In [26]:
MLB_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    145 non-null    object
 1   Team    145 non-null    object
 2   G       145 non-null    int64
 3   PA      145 non-null    int64
 4   HR      145 non-null    int64
 5   R       145 non-null    int64
 6   RBI     145 non-null    int64
 7   SB      145 non-null    int64
 8   BB%     145 non-null    float64
 9   K%      145 non-null    float64
 10  ISO     145 non-null    float64
 11  BABIP   145 non-null    float64
 12  AVG     145 non-null    float64
 13  OBP     145 non-null    float64
 14  SLG     145 non-null    float64
 15  wOBA    145 non-null    float64
 16  xwOBA   145 non-null    float64
 17  wRC+    145 non-null    int64
 18  BsR     145 non-null    float64
 19  Off     145 non-null    float64
 20  Def     145 non-null    float64
 21  WAR     145 non-null    float64
dtypes: float64(13), int64(7), object(2)
memory usage: 25.1+ KB

In [27]:
df = pd.concat([MLB_data, CPBL_data], axis=0, ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    145 non-null    object
 1   Team    145 non-null    object
 2   G       145 non-null    float64
 3   PA      308 non-null    int64
 4   HR      145 non-null    float64
 5   R       145 non-null    float64
 6   RBI     145 non-null    float64
 7   SB      145 non-null    float64
 8   BB%     308 non-null    float64
 9   K%      308 non-null    float64
 10  ISO     308 non-null    float64
 11  BABIP   306 non-null    float64
 12  AVG     308 non-null    float64
 13  OBP     308 non-null    float64
 14  SLG     308 non-null    float64
 15  wOBA    308 non-null    float64
 16  xwOBA   145 non-null    float64
 17  wRC+    145 non-null    float64
 18  BsR     145 non-null    float64
 19  Off     145 non-null    float64
 20  Def     145 non-null    float64
 21  WAR     145 non-null    float64
 22  球員      163 non-null    object
 23  隊伍      163 non-null    object
 24  背號      163 non-null    float64
 25  BIP%    163 non-null    float64
 26  OPS     163 non-null    float64
 27  OPS+    163 non-null    float64
 28  tOPS+   163 non-null    float64
 29  RC      163 non-null    float64
 30  BB/K    160 non-null    float64
dtypes: float64(26), int64(1), object(4)
memory usage: 74.7+ KB

In [28]:
#check column
same_col = set(CPBL_data.columns) & set(MLB_data.columns)
diff_col = set(CPBL_data.columns) ^ set(MLB_data.columns)
print("same column: ", same_col, "\ndiff. column: ", diff_col)

same column:  {'wOBA', 'ISO', 'BB%', 'K%', 'BABIP', 'PA', 'OBP', 'SLG', 'AVG'}
diff. column:  {'BIP%', 'Team', 'Off', 'WAR', 'G', '球員', 'BB/K', 'tOPS+', 'Name', 'RBI', 'R', 'xwOBA', 'OPS', '背號', 'HR', 'OPS+', 'SB', '隊伍', 'RC', 'Def', 'BsR', 'wRC+'}

In [29]:
#data clean
Scale = 1.232
CPBL_data.drop(columns=['背號','BB/K','OPS','tOPS+','RC'], inplace=True)
MLB_data.drop(columns=['G','WAR','xwOBA','Def','SB'], inplace=True)
MLB_data['OPS+'] = 100 * (MLB_data['OBP']/MLB_data['OBP'].mean() + (MLB_data['SLG']/MLB_data['SLG'].mean()) - 1)
CPBL_data['Off'] = (CPBL_data['wOBA']-CPBL_data['wOBA'].mean()/Scale) - CPBL_data['PA']
CPBL_data.rename(columns={
    '球員': 'Name',
    '隊伍': 'Team'
}, inplace=True)


df = pd.concat([MLB_data, CPBL_data], axis=0, ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    308 non-null    object
 1   Team    308 non-null    object
 2   PA      308 non-null    int64
 3   HR      145 non-null    float64
 4   R       145 non-null    float64
 5   RBI     145 non-null    float64
 6   BB%     308 non-null    float64
 7   K%      308 non-null    float64
 8   ISO     308 non-null    float64
 9   BABIP   306 non-null    float64
 10  AVG     308 non-null    float64
 11  OBP     308 non-null    float64
 12  SLG     308 non-null    float64
 13  wOBA    308 non-null    float64
 14  wRC+    145 non-null    float64
 15  BsR     145 non-null    float64
 16  Off     308 non-null    float64
 17  OPS+    308 non-null    float64
 18  BIP%    163 non-null    float64
dtypes: float64(16), int64(1), object(2)
memory usage: 45.8+ KB