In [1]:
#import
import pandas as pd

In [2]:
#read
CPBL_data = pd.read_excel("CPBL_batter.xlsx")
MLB_data = pd.read_excel("MLB_batter.xlsx")

In [4]:
#first view
CPBL_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   球員        163 non-null    object
 1   背號        163 non-null    int64
 2   PA        163 non-null    int64
 3   AVG       163 non-null    float64
 4   OBP       163 non-null    float64
 5   SLG       163 non-null    float64
 6   ISO       163 non-null    float64
 7   BABIP     161 non-null    float64
 8   BIP%      163 non-null    float64
 9   OPS       163 non-null    float64
 10  OPS+      163 non-null    float64
 11  tOPS+     163 non-null    float64
 12  RC        163 non-null    float64
 13  wOBA      163 non-null    float64
 14  BB%       163 non-null    float64
 15  BB/K      160 non-null    float64
 16  K%        163 non-null    float64
 17  PutAway%  163 non-null    float64
dtypes: float64(15), int64(2), object(1)
memory usage: 23.1+ KB

In [ ]:
MLB_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    145 non-null    object
 1   Team    145 non-null    object
 2   G       145 non-null    int64
 3   PA      145 non-null    int64
 4   HR      145 non-null    int64
 5   R       145 non-null    int64
 6   RBI     145 non-null    int64
 7   SB      145 non-null    int64
 8   BB%     145 non-null    float64
 9   K%      145 non-null    float64
 10  ISO     145 non-null    float64
 11  BABIP   145 non-null    float64
 12  AVG     145 non-null    float64
 13  OBP     145 non-null    float64
 14  SLG     145 non-null    float64
 15  wOBA    145 non-null    float64
 16  xwOBA   145 non-null    float64
 17  wRC+    145 non-null    int64
 18  BsR     145 non-null    float64
 19  Off     145 non-null    float64
 20  Def     145 non-null    float64
 21  WAR     145 non-null    float64
dtypes: float64(13), int64(7), object(2)
memory usage: 25.1+ KB